[Unit]
Description=Debian Installer RSS Feed Generator

[Timer]
OnUnitActiveSec=1d
Unit=netsensor.service

[Install]
After=network.target
WantedBy=timers.target
