[Unit]
Description=Debian Installer RSS Feed Generator
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ubuntu-feed /usr/local/etc/ubuntu-feed.json
